# Directory (contents) ignores
.storage
.cloud
home-assistant*
deps
core
scripts

# Generic ignores
*.log
*.db
*.pyc
._*
*.backup
__pycache__

# Specific file ignores
secrets.yaml

# I do not want to share yet
blueprints
image
themes
tts
www/lovelace
www/custom-lovelace
www/community
automations.yaml
panel_iframe.yaml
scenes.yaml
scripts.yaml
themes.yaml

# I do not use yet
.google.token
ip_bans.yaml
known_devices.yaml