# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  external_url: !secret homeassistant_external
  internal_url: !secret homeassistant_interne
  allowlist_external_dirs:
    - /config/www
    - /config

recorder:
  purge_keep_days: 7
  exclude:
    domains:
      - automation
      - update
    entity_globs:
      - sensor.maison_familiale_*
      - sensor.sun*
      - weather.*
      - sensor.*_last_seen
      - sensor.*_linkquality
      - sensor.golf_pga*
    entities:
      - sensor.freebox_download_speed
      - sensor.freebox_upload_speed
      - sensor.mouvement_08_bureau_target_distance

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret proxyserver

# Load frontend themes from the themes folder
frontend:
  extra_module_url:
    - /hacsfiles/hass-hue-icons/hass-hue-icons.js
  themes: !include_dir_merge_named themes

cellar_tracker:
  username: !secret cellar_tracker_username
  password: !secret cellar_tracker_password

# Calendar

calendar:
  - platform: caldav
    url: https://caldav.icloud.com
    username: !secret userIcloud
    password: !secret passIcloud
    calendars:
      - "Calendrier"
      - "Pitchouns"
      - "Delphine et Thomas"

sensor:
  - platform: unifigateway
    host: 192.168.10.1
    username: !secret unifi_username
    password: !secret unifi_password
    version: UDMP-unifiOS
    monitored_conditions:
      - www
      - wlan
      - lan
      - wan
      - firmware

###################################################################
##########              Les lumieres                 ##############
###################################################################

light:
  - platform: group
    name: cave_vin
    entities:
      - light.spots_cave_a_vin
      - light.rubanled_01_cave
      - light.prise_10_cave_l1

  - platform: group
    name: garage
    entities:
      - light.lumiere_07_sous_sol_dimmer_1

mqtt:
  sensor:
    # Consommation d'eau
    - name: "consommation_eau_total"
      state_topic: "tele/eau/consommation"
      unit_of_measurement: "m³"
      state_class: total_increasing
      device_class: water
      value_template: "{{ value_json['total_m3']}}"
      icon: mdi:counter

    - name: "compteur eau status"
      state_topic: "tele/eau/consommation"
      value_template: "{{ value_json['status']}}"

    # Imprimante 3D
    - name: "longueur_filament"
      state_topic: "octoPrint/hass/printing"
      unit_of_measurement: "m"
      value_template: "{{ ((value_json.job.filament.tool0.length)|float * 0.001)|round(2) }}"

    - name: "dispo imprimante"
      state_topic: "octoPrint/hass/Connected"

  switch:
    - name: Heiman Siren
      state_topic: "zigbee2mqtt/sirene_alarme_01/set"
      availability_topic: "zigbee2mqtt/bridge/state"
      payload_off: '{"warning": {"duration": 0, "mode": "stop", "strobe": false}}'
      payload_on: '{"warning": {"mode": burglar, "level": very_high, "strobe_level": high, "strobe": true, "strobe_duty_cycle": 10, "duration": 2}}'
      command_topic: "zigbee2mqtt/sirene_alarme_01/set"

########                   SCRIPT                         #########
shell_command:
  # pour connecter / déconnecter l'imprimante à Octoprint
  octoprint_connect: 'curl -s http://192.168.10.110/api/connection -d ''{"command":"connect"}'' -H ''Content-Type: application/json'' -H ''X-Api-Key: !secret octoprint_api'''
  octoprint_disconnect: 'curl -s http://192.168.10.110/api/connection -d ''{"command":"disconnect"}'' -H ''Content-Type: application/json'' -H ''X-Api-Key: !secret octoprint_api'''

  # gestion des miniatures envoyé par Unifi
  save_unifi_thumbnail: >
    python3 -c 'import base64,sys;
    d="{{ data }}";
    d=d.split(",",1)[1] if d.startswith("data:image") else d;
    open("/config/www/tmp/unifi_last.jpg","wb").write(base64.b64decode(d))'

# calcul des cumuls via utility meter
utility_meter: !include utility_meter.yaml

notify:
  - platform: telegram
    name: telegram_thomas
    chat_id: !secret id_telegram_thomas
  - platform: telegram
    name: telegram_famille
    chat_id: !secret id_telegram_famille

# Text to speech
tts:
  - platform: google_translate

python_script:
group: !include groups.yaml
switch: !include switch.yaml
template: !include templates.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
